go 1.20

use (
	.
	./examples/globallog
	./examples/optionalsqlx
	./examples/security/basic-auth
	./examples/server
	./examples/shutdown
	./examples/simplelog
	./extensions/securityjwt
	./log
	./log/drivers/zaplog
	./security
)
